.login{

    text-align: center;
    border-radius: 50px;
    margin: 100px 25% 100px 25%;
    padding: 10px 10px 10px 10px;
    background:#9dcde2;
    height: 250px;
    width: 40%;
    box-shadow: 0 8px 25px ;
}
button{
    background-color: #2563eb;
    color: white;
    
}
.form{
    padding: 10px;
    margin: 10px;
    gap: 5px;
}
label{
   display: block;

    gap:10px;
    margin-bottom: 10px;
}