.primary {
    background-color: rgb(0, 4, 255);
    color: white;
    padding: 0.2em 0.5em;
    border-radius: 0.3em;
    border: none;
    margin: 0.1em;
}

table {
    width: 100%;
    border-collapse: collapse;

    th {
        background-color: rgb(3, 5, 130);
        color: white;
        text-align: right;
    }

    tr,
    td {
        padding: 0.2em;
    }

    tr {
        border-bottom: 1px solid rgb(100, 100, 100);
    }

    tr:nth-of-type(2n+1) {
        background-color: rgba(34, 36, 152, 0.745);
    }
}

form {
    text-align: center;
    border-radius: 50px;
    margin: 100px 25% 100px 25%;
    padding: 10px 10px 10px 10px;
    background: #9dcde2;
    height: 200px;
    width: 60%;
    box-shadow: 0 8px 25px;
}

.add {
    background-color: rgba(22, 22, 59, 0.759);
    color: white;
    padding: 0.2em 0.5em;
    border-radius: 0.3em;
    border: none;
    margin: 0.1em;
}
.remove{
    background-color: rgba(73, 0, 0, 0.759);
    color: white;
    padding: 0.2em 0.5em;
    border-radius: 0.3em;
    border: none;
    margin: 0.1em;
}
.edit{
    background-color: rgb(6, 155, 255);
    color: white;
    padding: 0.2em 0.5em;
    border-radius: 0.3em;
    border: none;
    margin: 0.1em;
}
.ghofl {
    background-color: cadetblue;
}