.sidebar {
    position: fixed;
    right: 0;
    top: 0;
    background:rgb(0, 2, 144);
    width: 150px;
    height: 100%;

    a {
        cursor: pointer;
        display: block;
        color: white;
        padding: 0.2em 0.5em;
        text-decoration: none;
    }

    a::before {
        content: '❕';
    }
}

.content {
    margin-right: 150px;
    padding: 0.4em;
}