/* You can add global styles to this file, and also import other style files */
body{
    background-color:#73b9ff;
    margin: 0;
}
@font-face {
    font-family: persian;
    src: url('/font/font1.woff2');
}
*{
    font-family: persian;
}
.alert{
    background-color: rgb(63, 247, 247);
    border: 1px rgb(126, 126, 126);
    padding: 1em;
    border-radius: 0.2em;
    margin: 1em;
    text-align: center;
}