/* You can add global styles to this file, and also import other style files */
body{
    background-color: rgba(38, 243, 117, 0.502);
    margin: 0;
}
@font-face {
    font-family: persian;
    src: url('/font/font1.woff2');
}
*{
    font-family: persian;
}